.z-table {
	width: 100%;
	font-size: 14px;
	color: #333;
	font-weight: 500;
	background: #fff;
}

.z-table--action {
	color: #ddd;
	font-size: 18px;
}
.z-table--action + .z-table--action {
	margin-left: 10px;
}
.z-table--head-wrapper {
}
.z-table--head {
	display: flex;
	height: 42px;
}
.z-table--row:first-child {
	border-top: 1px solid #eee;
}
.z-table--row > div {
	padding: 4px 10px 4px 16px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.z-table--row:nth-child(odd) {
    background: #f7f7f7;
}
.z-table--row {
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
}
.z-table--footer {
	height: 64px;
	display: flex;
	padding: 0 16px;
	align-items: center;
}
.z-table--cell-header {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	background: inherit;
	min-width: 0;
	display: flex;
	padding: 0 10px 0 16px;
	align-items: center;
	color: #999;
	box-sizing: border-box;
}
.z-table--body {
	position: relative;
}

.z-table--page {
	width: 28px;
	height: 28px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.z-table--page:not(.z-table--page-active):hover {
	background: #ddd;
}
.z-table--pagination {
	margin-left: auto;
}
.z-table--page-active {
	background: #5386a7;
}
.z-table--page.z-table--page-active {
	color: #fff;
	cursor: inherit;
}

.z-table--loading {
  padding: 8px;
}

.z-table--head-input-container {
	display: flex;
	width: 100%;
	background: #fff;
	padding: 4px 0;
}
.z-table--head-input-container > input {
	flex: 1;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: 14px;
	min-width: 0;
}
.z-table--sort {
	font-size: 17px;
	cursor: pointer;
	float: right;
	color: transparent;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 16px;
}
.z-table--cell-header:hover .z-table--sort {
	color: #333;
	background: #f3f3f3;
}
.z-table--sort.z-table--sort-active {
	color: #333;
}
.z-table--sort-name {
	display: flex;
	flex: 1;
	align-items: center;
}
.z-table--clickable-sort {
	cursor: pointer;
}
.z-table--active-sort-name {
	font-weight: bold;
	color: #000;
}

.z-table--loader-in-row {
	background: #f7f7f7;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 8px 16px;
}
.z-table--loader {
	background: #fff;
	padding: 8px 16px;
}
